<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://cdn.bootcss.com/vue/1.0.17/vue.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="assert/clipboard.min.js"></script>
    <script src="assert/jsonlint.min.js"></script>

    <script src="data.js"></script>
    <script src="parts.js"></script>

    <link href="assert/materialize/css/materialize.min.css" rel="stylesheet">
    <link href="assert/main.css" rel="stylesheet">

    <script src="assert/materialize/js/materialize.min.js"></script>
    <script src="help.js"></script>
</head>
<body id="app" @click="hideChildShow">
<!-- item template -->
<script type="text/x-template" id="item-template">
    <li :class="{'item-no-child-box':!model.extend}">
        <div >
            <!--有子项,显示+--><span @click="toggleOpen" v-if="isFolder"
                                :class="{ 'item-close': !open, 'item-open': open }">{{open ? '-&nbsp;' : '+'}}&nbsp;</span>
            <!-- 无子项，补白--><span @click="toggleOpen" v-else>&nbsp;&nbsp;&nbsp;</span>

            <!--field--><input v-if="!model.arrayField"
                               type="text" v-model="model.field" class="data-field" placeholder="field"
                             >
                <select v-else v-model="model.field" class="tree_select">
                    <option v-for="v in model.arrayField ">{{v}}</option>
                </select>

            <!--value--><span v-if="!model.child  && !model.extend" class="data-value">
                <span>:</span>
                <input  v-if="!model.arrayValue"
                        type="text" v-model="model.value" class="data-value" placeholder="{{model.placeholder || 'value'}}">

                <select v-else v-model="model.value" class="tree_select">
                    <option v-for="v in model.arrayValue ">{{v}}</option>
                </select>

            </span>

            <!--启用自定义模式--><span v-if="parts.tree_customize">
            <a @click="extendCustomizeChild" class="custom-add">add</a>
            <span class="custom-array">
                <input type="checkbox" id="customize-array" v-model="model.array">
                <label for="customize-array">array</label>
            </span>
            </span>


            <span @click="delChild" v-if="!model.undelete" class="delete-child">X</span>
            <!--有括展项-->
            <span v-if="model.extend" class="choose-child">
                <a  href='#' class="choose-child-add" @click.stop="showchooseChild" v-bind:class="{'color-grey':view.hideChooseChildBtn}">+</a>

                <!-- 下拉扩展项 -->
                <ul v-show="chooseChildShow" class="choose-child-box">
                    <li v-for="item in subparts"
                        v-show="!item.only"
                        v-if="!item.disabled"
                        @click.stop="extendChild($key)">
                        <a href="#!">{{$key}}</a>
                    </li>

                </ul>
            </span>

        </div>
        <ul v-show="open" v-if="isFolder"
            :class="{'item-array':model.array,'item-no-child':!model.extend}"
           >
            <item
                    class="data-item"
                    v-for="model in model.child"
                    :model="model"
                    :parts="parts"
                    >
            </item>

        </ul>
    </li>
</script>

<! -- nav -->
<nav>
    <div class="nav-wrapper">
            <a href="#!" class="brand-logo "><img src="assert/img/logo.png">&nbsp;&nbsp;Easy Es</a>
            <ul class="right" >
                <li class="tree-name">
                    <input type="text" v-model="treeName">
                    <select v-model="treeName">
                        <option v-for="item in treeNameLists" track-by="$index">{{item}}</option>
                    </select>
                </li>
                <li>
                    <a  @click="openTree" class="nav btn">open</a>
                </li>
                <li>
                    <a @click="saveTree"  class="nav btn">save</a>
                </li>
                <li><a href="#">Document</a></li>
            </ul>
            <div style="clear:both"></div>
    </div>
</nav>


<div >
    <div class="row">
        <div class="col s7" style="position:relative">
            <ul>
                <item
                        class="item"
                        :model="treeData"
                        :parts="parts">
                </item>
                <div class="switch custom-btn">
                    <label>
                        <input type="checkbox" v-model="parts.tree_customize">
                        <span class="lever"></span>
                        Custom Model
                    </label>
                </div>
            </ul>
        </div>

        <div class="col s5">
            <a class="getstr-copy" @click="validator">formate&validator</a>
            <a class="getstr-copy copy" data-clipboard-target="#getstr">cope code</a>
            <div  v-show="validJson.state=='pass' " class="valid-json-pass">
            </div>

            <div  v-show="validJson.state=='fail' " class="valid-json-fail">
                {{{ validJson.doc}}}
            </div>
            <textarea class="getstr" id="getstr" v-model="showJson">{{{getStr | json 4}}}</textarea>

        </div>
    </div>
</div>

<!-- footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Easy Es</h5>
                <p class="grey-text text-lighten-4">轻点鼠标，快速写出elasticsearch语句!欢迎补充子选项<br>本项目遵循BSD协议。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/whybangbang/es_query_dsl_mindmanger">View project on Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.5milesapp.com/">Elasticsearch 权威指南</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
             2016 seaasun wangbangbang
            <a class="grey-text text-lighten-4 right" href="https://www.5milesapp.com/"><img src="assert/img/fivemiles.jpg" class="footer-5m">5miles offers support</a>
        </div>
    </div>
</footer>


<script>


    //注册剪贴板
    new Clipboard('.copy');
    // 整体框架
    Vue.config.debug = true
    // define the item component
    Vue.component('item', {
        template: '#item-template',
        props: ['model','parts'],
        data: function () {
            return {
                array:this.model.array ? this.model.array : false,
                open: this.model.open ? this.model.open : false,
                chooseChildShow:this.model.choose ? this.model.choose : false,
                subparts:help.clone(parts[this.model.extend]),
                view:{}
            }
        },
        created:function(){
            //清除父展开的选项
            if(this.$parent.hasOwnProperty('chooseChildShow')){
                this.$parent.chooseChildShow=false;
            }


        },
        ready:function(){
            //only 处理
            if(this.$parent.hasOwnProperty('model')){//非第一个组件
                //if(!this.$parent.model.array){ //排除and、or

                    for(var son in this.$parent.$children){ //遍历子对象

                        if(this.$parent.$children[son].model.group){//判断是否分组
                            var group_number=this.$parent.$children[son].model.group;//得到分组号

                            //修改数据subparts
                            for(var part in this.$parent.subparts){
                                if(!this.$parent.model.array || this.$parent.subparts[part].force_only) {
                                    if (this.$parent.subparts[part].group === group_number) {
                                        Vue.set(this.$parent.subparts[part], 'only', true)
                                    }
                                }
                            }
                        }
                    }
                //}

                //检查父元素是否可以增加新的子元素
                var part_open=true;
                for(var part in this.$parent.subparts){//遍历父元素的记录状态
                    if(!this.$parent.subparts[part].only){
                        part_open=false
                    }
                }
                if(part_open){
                    Vue.set(this.$parent.view,'hideChooseChildBtn',true)
                }
            }

        },
        computed: {
            isFolder: function () {
                return this.model.child &&
                        this.model.child.length
            },
            isArray:function(){
                return (typeof this.model.value=='object')&&this.model.value.constructor==Array;
            }
        },
        methods: {
            toggleOpen: function () {
                if (this.isFolder) {
                    this.open = !this.open;
                }
            },
            //显示可添加的子项
            showchooseChild:function(){

                //影藏其他展开的选项
                function hide(obj){
                    obj.$data.chooseChildShow=false;
                    //隐藏所有的子选项
                    for(var i in obj.$children){
                        hide(obj.$children[i])
                    }
                }
                hide(vm);

              this.chooseChildShow=true;
            },

            //扩展子项目
            //field str 子项目的名称
             extendChild: function (field) {
                 //影藏所有展开的弹出菜单
                 function hide(obj){
                     obj.$data.chooseChildShow=false;
                     //隐藏所有的子选项
                     for(var i in obj.$children){
                         hide(obj.$children[i])
                     }
                 }
                 hide(vm);

                // 检查有无子child 数组
                if (!this.isFolder) {
                    Vue.set(this.model, 'child', []);
                }

                //添加子项目,用push方法
                //this.addChild(this.model.extend,field);
                var child=help.clone(this.subparts[field]);

                 //增加 field 名称
                 if(!child.hasOwnProperty('field')){
                     child.field=field;
                 }

                this.model.child.push(child);

                //展开新添加的内容
                this.open=true
                this.model.child[this.model.child.length-1]['open']=true;


            },
            //扩展自定义项目
            extendCustomizeChild:function(){
                if(!this.isFolder){
                    Vue.set(this.model, 'child', []);
                }
                this.model.child.push({
                    'field':'',
                    'open':true
                })

            },
            //删除自项目
            delChild:function(){
                for(var i in this.$parent.$children){
                    if(this===this.$parent.$children[i]){
                        //通过父删除自己
                        this.$parent.model.child.splice(i,1)

                        //唯一属性的恢复 only处理
                        for(var part in this.$parent.subparts){
                            if(this.$parent.subparts[part]['group']===this.model.group){
                                this.$parent.subparts[part]['only']=false
                            }
                        }
                        break;
                    }
                }

                //检查父有无可增加的项
                for(part in this.$parent.subparts){
                    if(!this.$parent.subparts[part].only){
                        this.$parent.view.hideChooseChildBtn=false
                    }
                }
            }

        }
    });

    // boot up the demo
    var vm = new Vue({
        el: '#app',
        data: {
            treeData: data,
            parts:parts,
            treeProject:'base',
            treeProjectLists:[],
            treeName:'start',
            treeNameLists:[],
            showJson:'',
            validJson:{
                'state':false,
                'doc':''
            }
        },
        created:function() {
            this.updateTree();
            this.parts.tree_chooseChidShow=true;

            //隐藏选项，这里同上冗余
        },
        watch: {
            treeProject:'updateTree'
        },
        computed: {
            getStr: function () {

                //验证json的情况
                    var new_obj={};

                    return help.obj_parser(new_obj,this.treeData)[this.treeData.field];
            },
            getTree: function(){
                return JSON.stringify(this.treeData);
            }
        },
        methods: {
            //保存树
            saveTree: function () {
                //已储存有树
                if (localStorage['tree']) {
                    var tmp = JSON.parse(localStorage['tree']);

                    //没有此项目则新建项目
                    if (!tmp[this.treeProject]) {
                        tmp[this.treeProject] = {}
                    }

                    //检查重名
                    if (tmp[this.treeProject][this.treeName]) {
                        if (!confirm('Name already exists, you want to replace it?')) {
                            return ;
                        }
                    }

                    tmp[this.treeProject][this.treeName] = this.treeData;
                    localStorage['tree'] = JSON.stringify(tmp);

                    //从未存储树（可以取消了）
                } else {
                    var tmp = {};
                    tmp[this.treeProject] = {}
                    tmp[this.treeProject][this.treeName] = this.treeData;
                    localStorage['tree'] = JSON.stringify(tmp);
                }
                //更新树的视图
                this.updateTree()
                Materialize.toast('template saved', 4000)
            },
            //打开树
            openTree: function () {
                var tmp = JSON.parse(localStorage['tree']);
                if(tmp[this.treeProject][this.treeName]){
                    this.treeData = tmp[this.treeProject][this.treeName];
                    Materialize.toast('template open', 4000)
                }else{
                    Materialize.toast("there is no this template,pleses check name", 4000)
                }

            },
            //更新树的显示
            updateTree: function () {

                //读取已本地保存的tree
                if (localStorage['tree']) {
                    var tree = JSON.parse(localStorage['tree']);
                    this.treeProjectLists=[]; //清空之前的选项
                    for (var key in tree) {
                        this.treeProjectLists.push(key);
                    }
                    this.treeNameLists=[];//清空之前的选项
                    for (var key in tree[this.treeProject]) {
                        this.treeNameLists.push(key);
                    }
                    //本地没有保存则创建新tree
                } else {
                    var tmp = {};
                    tmp[this.treeProject] = {}
                    tmp[this.treeProject][this.treeName] = this.treeData;
                    localStorage['tree'] = JSON.stringify(tmp);
                }
            },
            validator:function(){
                try {
                    var str;
                    if(this.showJson.constructor==Object) {
                        str = JSON.stringify(this.showJson)
                    }else if(this.showJson==''){
                        this.validJson.state='pass';
                        return
                    }else{
                        str=this.showJson;
                    }
                    //验证
                    var result = jsonlint.parse(str);
                    this.validJson.state='pass';
                    this.validJson.doc='pass';
                    this.showJson=JSON.stringify(result,null,4);

                } catch(e) {
                    this.validJson.doc= e.message;
                    this.validJson.doc=this.validJson.doc.replace(/\n/, "<br>")
                    console.log(this.validJson.doc)
                    this.validJson.state='fail';

                };

            },
            //隐藏添加子选项菜单
            hideChildShow:function(){
                function hide(obj){
                    obj.$data.chooseChildShow=false;
                    //隐藏所有的子选项
                    for(var i in obj.$children){
                        hide(obj.$children[i])
                    }
                }
                hide(this);
            }
        }
    })

</script>


</body>
</html>