/* wrap  */
a{
  cursor:pointer
}
html{
  font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrap{
  margin-top:10px;
  margin-bottom: 10px;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card .card-content{
  padding:10px;
}
input[type=text]{
  padding:0.2em;
  font-size: 1em;
  line-height: 1.3em;
  height:1.3em;
}

.btn{
  text-transform:none;
  height:2em;
  line-height: 2em;
  font-size:1em;
  background-color: #039be5;
  margin-left: 7px;
  margin-right: 7px;
}
.btn:hover{
  background-color: #29b6f6;
}

td,th{
  padding:5px;
  font-size: 13px;
}

/*  getstr */
.getstr{
  padding:13px;
  border:1px #ddd solid;
  outline: none;
  color:#616161;
  background-color: #efefef;
  height:auto;
  min-height:270px;
  font-size:13px;
  line-height: 1.2;
  overflow: hidden;
  overflow-y:visible
}

.getstr-copy{
  cursor:pointer;
  padding: 4px 7px;
  border-radius: 2px;
}

.getstr-copy:active{
  background-color: #039be5;
  color:#fff;
}

.un-getstr-copy{
  color:#9e9e9e !important;
}

/*valid-json*/
.valid-json{
  font-size: 13px;
  padding:13px;
}

.valid-json-pass{
  border: 1px solid #8bc34a;
}

.valid-json-fail {
  background-color: #fee;
  color: #ee6e73;
  border: 1px solid #ee6e73;
  border-radius: 2px;
}

input.data-field{
  padding:0.2em;
  font-size: 0.9em;
  width:6em;
  height:1em;
  background-color: #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.05em;
}

.date-value{
  position:relative;
  padding:0;

}

input.data-value{
  padding:0.1em;
  font-size: 0.9em;
  width:6em;
  height:1.1em;
  background-color: #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.05em;
  margin-right:7px;
}

select.tree_select{
  padding:0.1em;
  font-size: 0.9em;
  line-height: 0.9em;
  width:6em;
  height:1.5em;
  background-color: #eee;
  border-bottom: 1px solid #eee;
  vertical-align:bottom;
}

select{
  display:inline-block;
}

.input-select{
  display:block;
  position:relative;
  height:24px;
}
.input-select input{
  position:absolute;
  top:0;
  left:0;
  border:1px solid #eee;
  border-right:0;
  margin-right:10px;
  background-color: #fff;
  z-index:9001;
  height:30px;
  box-sizing: inherit;

}
.input-select input:focus{
  border:0;
  box-shadow:0 0 0 0 #fff !important;
}

.input-select select{
  height:24px;
  position:absolute;
  top:0;
  left:0;
  right:10px;
  z-index:9000;
  outline:0;
  padding-top:0;
  padding-bottom:0;
  font-size:1rem;
  border-radius: 4px;
}
.tree-name{
  display:block;
  position:relative;
  height:24px;
  width:150px;
  line-height: 42px;
  margin-left:4px;
  margin-right: 4px;
}

.tree-name input{
  position:absolute;
  top:7px;
  left:0;
  padding-left:14px;
  background-color: #757575;
  z-index:9001;
  height:28px;
  box-sizing: inherit;
  width:130px;
  border:0;
  font-weight: 300;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tree-name input[type=text]:focus:not([readonly]){
  border-blottom: 0 solid #00E676;
}

.tree-name select{
  height:28px;
  position:absolute;
  background-color: #757575;
  top:7px;
  left:0;
  right:10px;
  z-index:9000;
  outline:0;
  padding-top:0;
  padding-bottom:0;
  border:0;
  width:100%;
  font-weight: 300;
}

.nav-bottom{
  display: block;
  height:20px;
}

nav{
  height:auto;
  line-height:42px;
  background-color:#424242 ;
  display:block;
  margin-bottom: 0;
  z-index: 1100;
}
nav .brand-logo{
  position: relative;
  margin-left: 18px;
  font-size:20px;
  float:left;
  font-weight: 700;
}
nav .brand-logo img{
  height:24px;
  vertical-align: middle;
  margin-top: -5px;
}
.nav-center{
  position:absolute;
  left:50%;
  margin-left: -100px;
  height:40px;
  line-height: 40px;
  font-weight: 300;

  color:#e0e0e0;
}
.nav-center li a{
  font-size: 18px;
}
.nav-center .activate{
  font-weight: 700;
  border-bottom:#039be5 2px solid;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left:0;
    -webkit-transform:none;
    transform: none;
  }
}
.nav.btn{
  height:28px;
  line-height: 42px;
  padding-left:4px;
  padding-right:4px;
  line-height: 28px;
  text-transform : none;
  background-color: #757575;
  margin-left:4px;
  margin-right: 4px;
  font-weight:300;
  font-size: 14px;
  border: 0;
}

.input-save a{
  height:30px;
  line-height: 30px;
}


.item-close{
  color:#000;
  font-weight: 800;
}

.item-no-child{
  /*color:#777;*/

}

.item-no-child-box{
  background-color: #f9f9f9;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.data-item{
  margin-left: 1.5em;
  padding-left:0.5em;
}


.item-array{
  border-left:3px solid #b3e5fc;
  margin-left:1em
}

.item-array li{
  margin-left:1em
}
.delete-child{
  color:#777;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-left: 0.2em;
}
.choose-child{
  position:relative;
}
.choose-child-add{
  font-weight: 800;
  font-size: 1.2em;
  vertical-align: middle;
}
.choose-child-box{
  width:auto;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  position:absolute;
  top:0;
  left:0;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  margin:0;
  z-index:1000;
  scrollbar:1px;

}




.choose-child-box li{
  padding: 0.5em 1em;
}

.choose-child-clear{
  z-index:999;
  position:absolute;
  left:0;
  right:0;
  width:100%;
  height:100%;

}


#app{
  min-height: 100vh;;
}

.color-grey{
  color:#9e9e9e;
  font-weight: normal;
}

/*custom */
.custom-btn{
  position:absolute;
  top:0;
  right:28px;
  display:block;
}
.custom-btn.switch label .lever{
  width: 20px;
  height: 10px;
  margin-right:7px;
}
.custom-btn.switch label .lever:after{
  width:14px;
  height:14px;
  top:-2px;
}
.switch label input[type=checkbox]:checked+.lever{
  background-color:#b3e5fc;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #039be5;
}
.custom-btn.switch label input[type=checkbox]:checked+.lever:after {
  left: 10px;
}

.custom-array [type="checkbox"]+label:before{
  opacity: 0;
}
.custom-array [type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position:relative;
  left:0;
  visibility:visible
}

.custom-add{
  background-color: #b3e5fc;
  color:#fff;
  border-radius: 0.5em;
  height:14px;
  font-size: 0.7em;
  padding: 1px 0.5em;
  margin-left: 4px;
}
.custom-array{
  background-color: #b3e5fc;
  color:#fff;
  border-radius: 0.5em;
  height:14px;
  font-size:12px;
  padding: 1px 0.5em;
  margin-right:1em;
  line-height: 14px;
  display:inline-block;
  vertical-align: middle;
}

.custom-array input{
  height:1em;
  line-height:1em;
  vertical-align:middle;
  padding-bottom:0;
  border:0 solid #333;
  background-color:#84c7c1 ;
}
.custom-array label{
  height:14px;
  font-size:12px;
  line-height: 14px;
  padding-left:0;
  color:#fff;
  vertical-align:text-bottom;
}

footer.page-footer{
  background-color: #757575;
  width:100%;

}

.footer-5m{
  height:24px;
  vertical-align: middle;
}

.result{
  position:absolute;
  top:60px;
  left: 50%;
  width:auto;
  min-width:400px;
  max-width:800px;
  min-height:200px;
  height:auto;
  margin-left: -400px;
  z-index:10000;
  padding:10px;
  color:#fff;
  overflow: auto;

  background-color: #424242;
}

.result .close{
  color:#039be5;
  margin-left:14px;
}
.result-handle{
  color:#039be5;
}
.result-nav{
  font-size:14px;
}

.result a{
  margin-right: 14px;
}

.result a.undeline{
  text-decoration:underline;
}

.result a.line-through{
  text-decoration:line-through;
  pointer-events: none;
}
.result pre{
  font-size: 12px;
  line-height: 17px;
  width:auto;
  overflow: visible;
}
.result-th{
  border-bottom: 1px solid #fff;
  margin-bottom: 7px;
}

.result-data-table{
  min-width:380px;
  width:auto;
}














